doctype html
html(lang="en")
  head
    title= title
  body
    h1= title
    h3= poll.name
    h4
      #poll-status
        if !poll.active
          span Poll has closed
        else
          h4= "Poll is open"
          button(class="close-poll") Close poll
          br
          br
          include ./includes/close-poll.jade
          br

    include ./includes/vote-tally.jade

    h3
      a(href="/polls/" + pollId) Admin link
    h3
      a(href="/voting/" + pollId) Voting link

    include ./includes/footer.jade
